{
    "presets": [
        "env",
        "react"
    ],
    "plugins": [
        [
            "transform-runtime",
            {
                "helpers": false,
                "polyfill": false
            }
        ],
        [
            "transform-object-rest-spread"
        ],
        [
            "lodash"
        ],
        [
            "import",
            {
                "libraryName": "antd-mobile",
                "style": "css"
            }
        ],
        [
            "syntax-dynamic-import"
        ]
    ],
    "env": {
        "development": {
            "plugins": [
                [
                    "babel-plugin-styled-components",
                    {
                        "displayName": true
                    }
                ]
            ]
        },
        "production": {
            "plugins": [
                "transform-remove-console"
            ]
        }
    }
}
